h1 {
	color: #1f1d1d;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	margin-bottom: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
	color: #1f1d1d;
	font-size: 18px;
	font-weight: 200;
	line-height: 20px;
}

li:first-letter {
	text-transform: capitalize;
}

.weather-app-wrapper {
	max-width: 600px;
	margin: 30px auto;
}
.weather-app {
	padding: 20px;
	border: 1px solid #dadde1;
	border-radius: 5px;
	background-image: url("https://images.unsplash.com/photo-1499346030926-9a72daac6c63?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
}

.overview {
	margin-bottom: 20px;
}

.weather-temperature img {
	margin-right: 10px;
	height: 64px;
	width: 64px;
}

.weather-temperature strong {
	color: #1f1d1d;
	font-size: 64px;
	font-weight: 400;
	line-height: 64px;
}

.weather-temperature .units {
	position: relative;
	top: -33px;
}

.weather-temperature .active {
	color: #1f1d1d;
	cursor: default;
}

.weather-temperature .active:hover {
	text-decoration: none;
}

.weather-forecast h3 {
	color: #1f1d1d;
	font-size: 14px;
	font-weight: 400;
	height: 15px;
	line-height: 15px;
	text-align: center;
	padding-top: 7px;
}

.weather-forecast img {
	display: block;
	margin: 0 auto;
	height: 48px;
	width: 48px;
}

.weather-forecast-temperature {
	text-align: center;
	color: #1f1d1d;
	font-size: 13px;
	font-weight: 400;
	height: auto;
	line-height: 15px;
	text-align: center;
	padding-top: 7px;
	white-space: nowrap;
}

.col-6 {
	margin-bottom: 20px;
}
